@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #0D47A1;
  font-family: 'Poppins', sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1050;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_nav {
    color: white;
    font-size: 1.25rem;
}

.form-control {
    background-color: #ffffff;
    border: none;
    color: #000;
}

.form-control::placeholder {
    color: #0D47A1;
    /* Cor do texto do placeholder */
}

.btn-outline-primary .bi-search {
    color: #ffffff;
    /* Cor do ícone da lupa */
}

.content {
    margin-top: 110px;
    /* Ajuste para não sobrepor a navbar */
    margin-left: 230px;
    /* Ajuste para não sobrepor a sidebar */
    transition: margin-left 0.5s ease;
}

.content-collapsed {
    margin-left: 100px;
}

.form-container {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background-color: #1565C0;
}

.search-form {
    max-width: 600px;
    width: 100%;
}

.search-form .form-control {
    flex-grow: 1;
    max-width: 400px;
}
